<ul role='list' class='divide-y divide-gray-100'>

  {{#each this.tokens as |token|}}
    <li class='flex justify-between gap-x-6 py-5'>
      <div class='flex min-w-0 gap-x-4'>
        <img
          class='size-12 flex-none rounded-full bg-gray-50'
          src={{token.user.avatar_url}}
          alt=''
        />
        <div class='min-w-0 flex-auto'>
          <p
            class='text-sm/6 font-semibold text-gray-900'
          >{{token.user.name}}</p>
          <p
            class='mt-1 truncate text-xs/5 text-gray-500'
          >{{token.user.login}}</p>
        </div>
      </div>
      <div class='hidden shrink-0 sm:flex sm:flex-col sm:items-end'>
        <div class='inline-flex rounded-md shadow-xs' role='group'>
          <button type='button' disabled {{on 'click' (fn this.reauthenticateToken token.id)}} class='{{this.actionsClasses}} rounded-s-lg opacity-50 cursor-not-allowed'>
            reauthenticate
          </button>
          <button type='button' {{on 'click' (fn this.invalidateToken token.id)}} class='{{this.actionsClasses}} rounded-e-lg'>
            revoke
          </button>
        </div>
      </div>
    </li>
  {{/each}}
</ul>

<button type='button' {{on 'click' (fn this.addToken 'abc')}}>add</button>